<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="all-movies">Coming Soon Client app</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="all-movies">Get All Movies</a></li>
      <li routerLinkActive="active"><a routerLink="movies-by-id">Get Movie By Id</a></li>
      <li routerLinkActive="active"><a routerLink="movies-list-by-id-and-category">Get Movie by Year & Category</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
