<div class="page-header">
  <h3>Please Enter parameters and submit</h3>
</div>

<form (ngSubmit) = "onSubmited(f)" #f="ngForm">
  <div class="input-group">
    <span class="input-group-addon">Movie Id:</span>
    <input type="text" class="form-control" placeholder="1"
           name="idInput"
           ngModel
           required>
  </div>

  <div class="myButton">
    <button class="btn btn-info" type="submit" [disabled]="!f.valid">SUBMIT</button>
  </div>
</form>
<div *ngIf="show">
  <div *ngFor="let movie of movies">
    <ul class="list-group">
      <li class="list-group-item movieName">
        {{movie.name}} <span class="badge"> {{movie.info[1].rate}}</span>
      </li>
      <li class="list-group-item">
        <b>Release Year: </b>{{movie.year}}
      </li>
      <li class="list-group-item">
        <b>Directed by: </b> {{movie.Director}}
      </li>
      <li class="list-group-item">
        <h4>Starring:</h4>
        {{movie.Stars}}
      </li>
      <li class="list-group-item">
        <b>Running time: </b> {{movie.info[2].length}}
      </li>
      <li class="list-group-item">
        <h4>Summary:</h4>
        {{movie.info[0].summary}}
      </li>
      <li class="list-group-item">
        <h5>#Hashtags:</h5>
        {{movie.category}}
      </li>
    </ul>
  </div>
</div>
